<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">



	<!-- add a welcome-file-list entry to allow JSF pages to be sued as welcome 
		files 
	<welcome-file-list>
		<welcome-file>index.jsf</welcome-file>
	</welcome-file-list>
	-->

	  <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    
	<welcome-file-list>
		<welcome-file>login.jsf</welcome-file>
	</welcome-file-list>    
	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.xhtml</url-pattern>
	</servlet-mapping>    

	<servlet-mapping>
		<servlet-name>Faces Servlet</servlet-name>
		<url-pattern>*.jsf</url-pattern>
	</servlet-mapping>

	<!-- Set the PROJECT_STAGE to 'Development' to receive constructive error 
		messages during development. Change the PROJECT_STAGE to 'Production' when 
		putting the application into production -->
	<context-param>
		<param-name>javax.faces.PROJECT_STAGE</param-name>
		<param-value>Production</param-value>
	</context-param>

	<context-param>
		<param-name>javax.faces.INTERPRET_EMPTY_STRING_SUBMITTED_VALUES_AS_NULL</param-name>
		<param-value>true</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.skin</param-name>
		<param-value>blueSky</param-value>
	</context-param>

	<context-param>
		<param-name>org.richfaces.resourceOptimization.enabled</param-name>
		<param-value>true</param-value>
	</context-param>
	
</web-app>
